.font-size {
    font-size: small;
}

.card {
    background-color: white;
    margin: 1rem;
}

.card-footer {
    padding: 1rem;
}

.low {
    background-color: #25a42c !important;
}

.med {
    background-color: #c86807 !important;
}

.high {
    background-color: #d70e0e !important;
}