.font-size {
  font-size: 1.125rem;
}

.kanban-board {
  height: calc(100vh - 100px);
  display: flex;
  gap: 16px;
  padding: 16px;
}

.column {
  flex: 1;
  overflow: auto;
  min-width: 300px;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 8px;

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h4 {
    color: rgba(0, 0, 0, 0.6);
    margin-left: 1rem;
  }
}